@import 'componets/reglas.css';

.pie{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 4em 0em;
    text-align: center;
}

.pie_titulo{
    padding: 1em 0em;
}


.pie_redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}