:root {
    --fuente: font-family: 'Roboto', sans-serif; 
    --colorNegro: #222831;
    --colorNegroS: #393E46;
    --colorAzul: #00ADB5;
    --colorBlanco: #3F72AF;
    --colorFuente: #F9F7F7;
}

*{
    ::-webkit-scrollbar{ /* Ancho del scrollbar */
        width: 15px;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #3498db; /* Color del thumb */
        border-radius: 5px;
        height: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--colorNegroS); /* Color del track */
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorNegro);
}

.space{
    width: 85%;
    margin: auto;
}

.titulos {
    padding-top: 2em;
    font-size: 2em;
    font-weight: 600;
    color: var(--colorFuente);
    font-family: var(--fuente);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}


.subTitle {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 400;
    color: var(--colorFuente);
    font-family: var(--fuente);
    text-shadow: 1px 1px 1px black;
}

.subTitleBlack {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 400;
    color:#222831;
    font-family: var(--fuente);
    text-shadow: 1px 1px 2px #444;

}

.parrafos{
    font-size: 1.3em;
    line-height: 1.5;
    color: var(--colorFuente);
    font-family: var(--fuente);
    text-shadow: 1px 1px 1px black;
    margin: .5em 0em;
}

.parrafosNegros{
    font-size: 1.3em;
    line-height: 1.5;
    font-family: var(--fuente);
    color: #222831;
    text-shadow: 1px 1px 2px #333;
    margin: 1em 0em;
    text-align: justify;
}

.anclaBtnAzul {
    background-color: var(--colorAzul);
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 200;
    color: var(--colorFuente);
    font-family: var(--fuente);
    border-radius: 5px;
    transition: 500ms;
}

.anclaBtnAzul:hover {
    background-color: #00848b;
    transform: rotate(5deg);
    border: solid 1px white;
}

.anclaBtnBlanco {
    background-color: var(--colorFuente);
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 200;
    color: var(--colorNegro);
    font-family: var(--fuente);
    border-radius: 5px;
    transition: 500ms;
}

.anclaBtnBlanco:hover{
    background-color: #d1d1d1;
    transform: rotate(5deg);
    border: solid 1px rgb(0, 0, 0)
}
